body {
  background-color: #111122;
}

section {
  background: #f0f8ff;
  border-radius: 25px;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #3399ff;
  margin: 0px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}
