body {
  margin: 0px;
  background: #def;
}

div {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  background: #3399ff;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  margin: 5px;
  flex-grow: 1;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item1 {
  /* align-self: flex-start; */
  flex-shrink: 0;
}

.item2 {
  /* flex-grow: 1; */
  /* flex-grow: 2; */
  flex-shrink: 0.5;
}

.item3 {
  /* align-self: stretch;
  height: auto; */
}

.item5 {
  /* align-self: flex-end; */
}
